{% extends 'template.html' %}
{% block title %}Incoming orders{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Datetime</th>
      </tr>
    </thead>
    <tbody>
      {% for x in data %}
      <tr>
        <th scope="row">{{x[0]}}</th>
        <td>{{x[1]}}</td>
        <td>{{x[2]}}</td>
        <td>{{x[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}