{% extends 'template.html' %}
{% block title %}Inventory{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for x in inventory %}
      <tr>
        <th>{{x[0]}}</th>
        <td>{{x[1]}}</td>
        <td>{{x[2]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/addproduct" class="btn btn-success">Add product</a>
</div>
{% endblock %}